body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
	height: 100%;
	padding:0px;
	background:#7bc142 !important;
}
a {
  color: #00b7ff;
}
*{
	font-family: 'Muli', sans-serif;
}
html{
	height: 100%;
}
header{
	width: 100%;
	height: 90px;
	background: white;
	z-index: 1;
	position: relative;
}
#logo{
	height: 60px;
	width: 203px;
	position: relative;
	left: 50%;
	margin-left: -101.5px;
	padding-top: 15px;
}
.navbar-form{
	position: relative !important;
	left: 50% !important;
	margin-left: -122.5px !important;
}
.jumbotron{
	width: 600px;
	left: 50%;
	position: relative;
	margin-left: -300px;
	background: white !important;
	margin-top:100px;
}
#usernameTextBox{
	padding: 20px !important;
	font-size: 16px;
	left: 50%;
}
#joinButton{
	left: 50%;
	position: relative;
	margin-left: -46px !important;
	margin-top: 20px;
}